<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Authors</title>
    <link rel="stylesheet" type="text/css" href="css/mainstyle.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var authors = /*[[${authors}]]*/ 'default';
        /*]]>*/
    </script>
    <script src="js/author/addAuthor.js"></script>
    <script src="js/author/deleteAuthor.js"></script>
    <script src="js/author/createTableAuthors.js"></script>
</head>
<body>
    <h2>Authors</h2>
    <p><a href="/books">Go to list of book</a></p>
    <div>
        <form id="addAuthor">
            <p>Author firstName: <input type="text" id="firstName" /></p>
            <p>Author secondName: <input type="text" id="secondName" /></p>
            <p><input type="submit" value="Add author"/></p>
        </form>
    </div>
    <div id="authorsTableDiv">
        <script>
            createTableAuthors();
        </script>
    </div>
</body>
</html>