<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Author</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="js/author/editAuthor.js"></script>
</head>
<body>
    <div>
        <p><a href="#" th:href="@{/authors}">Go to the list of author</a></p>
    </div>
    <div>
        <h1 th:text="'Author id: ' + ${author.id}">Test author</h1>
    </div>
    <div class="authorDiv">
        <form th:object="${author}" id="editAuthorForm">
            <p>Author id: <input type="text" th:field="*{id}" id="id" disabled/></p>
            <p>Author first name: <input type="text" th:field="*{firstName}" id="firstName"/></p>
            <p>Author second name: <input type="text" th:field="*{secondName}" id="secondName"/></p>
            <p><input type="submit" value="Edit author" class="editAuthor"/></p>
        </form>
    </div>
</body>
</html>