<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
    <link rel="stylesheet" type="text/css" href="css/book/bookstyle.css">
    <link rel="stylesheet" type="text/css" href="css/mainstyle.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="js/book/editBook.js"></script>
    <script src="js/book/editGenreFromBook.js"></script>
    <script src="js/book/deleteAuthorFromBook.js"></script>
    <script src="js/book/addAuthorInBook.js"></script>
    <script src="js/book/deleteCommentFromBook.js"></script>
    <script src="js/book/addCommentInBook.js"></script>
</head>
<body>
    <div>
        <p><a href="#" th:href="@{/books}">Go to the list of book</a></p>
    </div>
    <div>
        <h1 th:text="'Book id: ' + ${book.id}">Test book</h1>
    </div>
    <div>
        <form action="/deleteBook" th:action="@{/deleteBook(id=${book.id})}" method="post">
            <input type="submit" value="Delete book" />
        </form>
    </div>
    <div class="bookdiv">
        <form th:object="${book}" id="editBookForm">
            <p>Book id: <input type="text" th:field="*{id}" th:name="id" disabled/></p>
            <p>Book name: <input type="text" th:field="*{name}" th:name="name"/></p>
            <p>Book content: <input type="text" th:field="*{content}" th:name="content"/></p>
            <p>Book description: <input type="text" th:field="*{description}" th:name="description"/></p>
            <p><input type="submit" value="Edit book" class="editBook"/></p>
        </form>
        <div id = "div">
            <h2>Genre</h2>
            <form th:object="${book}" id="editGenreBookForm">
                <p>
                    <label for="genre-input">Genre: </label>
                    <select id="genre-input" th:field="*{genre}">
                        <option th:each="genre : ${genres}" th:value="${{genre}}" th:text="${genre.genre}">Test genre</option>
                    </select>
                </p>
                <p><input type="submit" value="Edit genre" class="editGenreBook"/></p>
            </form>
        </div>
        <div>
            <fieldset>
                <legend>List of author</legend>
                <table align="centre" width="40%">
                    <tr>
                        <th>Author id</th><th>Author first name</th><th>Author second name</th>
                    </tr>
                    <tr th:each="author : ${book.authors}">
                        <form th:object="${author}" id="deleteAuthorFromBook">
                            <td><input type="text" th:value="*{id}" id="authorId" disabled/></td>
                            <td><input type="text" th:value="*{firstName}" id="firstName" disabled/></td>
                            <td><input type="text" th:value="*{secondName}" id="secondName" disabled/></td>
                            <td><input type="submit" value="Delete author"/></td>
                        </form>
                    </tr>
                </table>
                <div>
                    <p>
                        <form th:object="${author}" id="addAuthorInBook">
                            <label for="author-inputAdd">Author: </label>
                            <select id="author-inputAdd">
                                <option th:each="authorV : ${authors}"
                                        th:value="${{authorV}}"
                                        th:text="${authorV.firstName} +' : '+ ${authorV.secondName}">Test author</option>
                            </select>
                        <p><input type="submit" value="Add author"/></p>
                        </form>
                    </p>
                </div>
            </fieldset>
        </div>
        <div>
            <fieldset>
            <legend>List of comment</legend>
            <table>
                <tr>
                    <th>Comment id</th><th>Comment</th>
                </tr>
                <tr th:each="comment : ${book.comments}">
                    <form th:object="${comment}" id="deleteCommentFromBook">
                        <td><input type="text" th:value="*{id}" id="commentId" disabled/></td>
                        <td><input type="text" th:value="*{comment}" id="comment" disabled/></td>
                        <td><input type="submit" value="Delete comment"/></td>
                    </form>
                </tr>
            </table>
             <p>
                 <form id="addCommentInBook">
                    <p>Comment: <input type="text" id="addComment"/></p>
                    <p><input type="submit" value="Add comment"/></p>
                </form>
             </p>
            </fieldset>
        </div>
    </div>
</body>
</html>