<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Genres</title>
    <link rel="stylesheet" type="text/css" href="css/mainstyle.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var genres = /*[[${genres}]]*/ 'default';
        /*]]>*/
    </script>
    <script src="js/genre/addGenre.js"></script>
    <script src="js/genre/deleteGenre.js"></script>
    <script src="js/genre/createTableGenres.js"></script>
</head>
<body>
<h2>Genres</h2>
<p><a href="/books">Go to list of book</a></p>
<div>
    <form id="addGenre">
        <p>Genre: <input type="text" id="genre" /></p>
        <p><input type="submit" value="Add genre"/></p>
    </form>
</div>
<div id="genresTableDiv">
    <script>
        createTableGenres();
    </script>
</div>
</body>
</html>