<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
</head>
<body>
<h1>BOOK:</h1>
<form action="/deleteBook">
    <input type="submit" value="Delete book" />
</form>
<form action="#" th:action="@{/editBook}" th:object="${book}" method="post">
    <p>Book id: <input type="text" th:field="*{id}"/></p>
    <p>Book name: <input type="text" th:field="*{name}" /></p>
    <p>Book content: <input type="text" th:field="*{content}" /></p>
    <p>Book description: <input type="text" th:field="*{description}" /></p>
    <p>Book genre: <input type="text" th:field="*{genre}"  /></p>
    <p>Book authors: <input type="text" th:field="*{authors}" /></p>
    <p>Book comments: <input type="text" th:field="*{comments}" /></p>
    <p><input type="submit" value="Submit" /></p>
</form>
<div id = "div">
    <h2>Genre</h2>
    <table align="centre" width="40%">
        <tr>
            <th>Genre id</th><th>Genre</th>
        </tr>
        <tr>
            <td><a th:text="${book.genre.id}" href="/genre" th:href="@{/genre(id=${book.genre.id})}">Test genre id</a></td>
            <td th:text="${book.genre.genre}">Test genre</td>
        </tr>
    </table>
    <h2>List of author</h2>
    <table align="centre" width="40%">
        <tr>
            <th>Author id</th><th>Author first name</th><th>Author second name</th>
        </tr>
        <tr th:each="author : ${book.authors}">
            <td><a th:text="${author.id}" href="/book" th:href="@{/author(id=${author.id})}">Test author id</a></td>
            <td th:text="${author.firstName}">Test author first name</td>
            <td th:text="${author.secondName}">Test author second name</td>
        </tr>
    </table>
    <h2>List of comment</h2>
    <table align="centre" width="40%">
        <tr>
            <th>Comment id</th><th>Comment</th>
        </tr>
        <tr th:each="comment : ${book.comments}">
            <td><a th:text="${comment.id}" href="/comment" th:href="@{/comment(id=${comment.id})}">Test comment id</a></td>
            <td th:text="${comment.comment}">Test comment</td>
        </tr>
    </table>
</div>
</body>
</html>