<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>${book} ? Edit book ${book.id}: Create new book</title>
</head>
<body>
    <div>
        <form>
            <fieldset>
                <legend>Book</legend>
                <p><label for="bookName">Book name:<em>*</em></label><input type="text" id="bookName"></p>
                <p><label for="bookDescription">Book description:<em>*</em></label><input type="text" id="bookDescription"></p>
                <p><label for="bookContent">Book content:<em>*</em></label><input type="text" id="bookContent"></p>
                <p><label for="bookGenre">Book genre:<em>*</em></label><input type="text" id="bookGenre"></p>
                <fieldset>
                    <legend>Authors</legend>
                    <p><label for="authorFirstName">Author first name:<em>*</em></label><input type="text" id="authorFirstName"></p>
                    <p><label for="authorSecondName">Author second name:<em>*</em></label><input type="text" id="authorSecondName"></p>
                    <button>Add new author</button>
                </fieldset>
            </fieldset>
        </form>
    </div>
</body>
</html>