<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="fileReader" class="ru.otus.lesson1HW.csv.CSVReaderImpl">
        <property name="filePath" value="D:/OTUS_SpringFramework/OTUS_SpringFramework/Lesson1HW/questions.csv"/>
    </bean>
    <bean id="testClass" class="ru.otus.lesson1HW.service.Test">
        <constructor-arg name="reader" ref="fileReader"/>
    </bean>

</beans>
