<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title id="title">Index page!</title>
    <link rel="stylesheet" type="text/css" href="/css/mainstyle.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/mainjs.js"></script>
    <script src="/js/book/getBooks.js"></script>
    <script src="/js/book/createTableBooks.js"></script>
    <script src="/js/book/deleteBook.js"></script>
    <script src="/js/book/createEditBook.js"></script>
    <script src="/js/book/editBook.js"></script>
    <script src="/js/author/getAuthors.js"></script>
    <script src="/js/author/createTableAuthors.js"></script>
    <script src="/js/author/deleteAuthor.js"></script>
    <script src="/js/genre/getGenres.js"></script>
    <script src="/js/genre/createTableGenres.js"></script>
    <script src="/js/genre/deleteGenre.js"></script>
</head>
<body>
    <p><a href="/books" id="getBooks">Go to the list of book</a></p>
    <p><a href="/authors" id="getAuthors">Go to the list of author</a></p>
    <p><a href="/genres" id="getGenres">Go to the list of genre</a></p>
    <div id="mainDiv"></div>
</body>
</html>