<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title id="title">Index page!</title>
    <link rel="stylesheet" type="text/css" href="/css/mainstyle.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/book/getBooks.js"></script>
    <script src="/js/book/getBooksClick.js"></script>
    <script src="/js/book/createTableBooks.js"></script>
    <script src="/js/book/deleteBook.js"></script>
    <script src="/js/book/editBookForm.js"></script>
    <script src="/js/book/editBook.js"></script>
    <script src="/js/book/editGenreInBook.js"></script>
    <script src="/js/book/addAuthorInBook.js"></script>
    <script src="/js/book/deleteAuthorFromBook.js"></script>
    <script src="/js/book/addCommentInBook.js"></script>
    <script src="/js/book/deleteCommentFromBook.js"></script>
    <script src="/js/book/createNewBookForm.js"></script>
    <script src="/js/book/createNewBook.js"></script>
    <script src="/js/author/getAuthors.js"></script>
    <script src="/js/author/getAuthorsClick.js"></script>
    <script src="/js/author/createTableAuthors.js"></script>
    <script src="/js/author/deleteAuthor.js"></script>
    <script src="/js/author/editAuthorForm.js"></script>
    <script src="/js/author/editAuthor.js"></script>
    <script src="/js/author/createNewAuthor.js"></script>
    <script src="/js/genre/getGenres.js"></script>
    <script src="/js/genre/getGenresClick.js"></script>
    <script src="/js/genre/createTableGenres.js"></script>
    <script src="/js/genre/deleteGenre.js"></script>
    <script src="/js/genre/editGenreForm.js"></script>
    <script src="/js/genre/editGenre.js"></script>
    <script src="/js/genre/createNewGenre.js"></script>
</head>
<body>
<p><a href="/books" id="getBooks">Go to the list of book</a></p>
<p><a href="/authors" id="getAuthors">Go to the list of author</a></p>
<p><a href="/genres" id="getGenres">Go to the list of genre</a></p>
<div id="mainDiv"></div>
</body>
</html>